/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    /* Font-Family */
    --font-family: 'Inter', sans-serif;

    /* Colors */
    --bg-color: #141414;
    --card-color: #1f1f1f;
    --secondary-bg-color: #333333;
    --primary-text-color: #ffffff;
    --accent-color: #c5f82a;

    /* Font Sizes */
    --text-xs: 0.7rem;
    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-lg: 1.5rem;

    /* Font Weights */
    --font-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    min-height: 100vh;
    background-color: var(--bg-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--card-color);
    border-radius: 15px;
    width: 100%;
    max-width: 420px;
}

.circle-img {
    margin: 1.95rem 0;
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

h1,
.location,
.bio {
    color: var(--primary-text-color);
    margin: 0.25rem;
}

.location {
    color: var(--accent-color);
    font-weight: var(--font-bold);
}

.bio {
    margin: 1.5rem 0 1.5rem 0;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2.5rem;
    gap: 0.95rem;
}

.social-links a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: var(--font-bold);
    background-color: var(--secondary-bg-color);
    
    width: 100%; 
    padding: 0.95rem 6.75rem;
    border-radius: 8px;

}

.social-links a:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.attribution {
    text-align: center;
    margin: 1.5rem;
    color: var(--primary-text-color);
}

.attribution a {
    font-size: var(--text-sm);
    color: var(--accent-color);
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .profile-card {
        width: 90%;
        max-width: 320px;
    }

    .social-links a {
        padding: 0.95rem 4.75rem;
    }

    h2,
    .location,
    .bio,
    .social-links a {
        font-size: var(--text-xs);
    }

    .attribution,
    .attribution a {
        font-size: var(--text-xs);
    }
}
